h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: goldenrod;
    font-weight: bold;
    font-size: 80px;
}

body {
    text-align: center;
    background-image: url("background.jpg");
    background-color: #cccccc;
    height: 500px;
    /* background-position: center; */
    background-repeat: repeat;
    background-size: cover;
    font-weight: bold;
    color: white;
}

#message-el {
    font-style: italic;
}

button {
    background-color: goldenrod;
    color: rgb(0, 80, 0);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 5px 50px 5px 50px;
}

p {
    padding: 5px 50px 5px 50px;
}